DATABASE_URL="mysql://root:123456@localhost:3306/next-notebook"

AUTH_SECRET=59bf4cb8165824ecb91db03b9c4f0139

# Redis
REDIS_URL="redis://user:password@localhost:6379/0"

# SMTP
SMTP_HOST = "smtp.example.com"
SMTP_PORT = 465
SMTP_USER = "user@example.com"
SMTP_PASS = "examplepass"
